html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  background-color: #ddd;
  max-width: 2000px;
  font-family: "Montserrat", sans-serif;
  word-break: break-word;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
